<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://github.com/vikz91/generator-restgoose" class="btn">View on GitHub</a>
  <a href="https://github.com/vikz91/generator-restgoose/archive/master.zip" class="btn">Download .zip</a>
  <a href="https://github.com/vikz91/generator-restgoose/archive/master.tar.gz" class="btn">Download .tar.gz</a>
  <a href="https://gitter.im/generator-restgoose/Lobby?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge"><img src="https://badges.gitter.im/generator-restgoose/Lobby.svg" alt="Join the chat at https://gitter.im/generator-restgoose/Lobby"></a>

</section>
